@charset "utf-8";
/* CSS Document */

p::first-letter{	color:red; font-size:36px;}
p::first-line{color:#0F6;}
p::-moz-first-line{color:#0F6;}
p::-webkit-first-line{color:#0F6;}
h1::after{content:".";}
h1::before{content:"juan";}
p::selection{background-color:#0F9;}	
p::-moz-selection{background-color:#0F9;}
p::-webkit-selection{background-color:#0F9;}


body {
background:#FFFFD5; 
color: #666; 
font-family: Arial, sans-serif; 
font-size: 10pt; 
}


.capa{
	width:100%;
	height:100%;
	background-color:#000;
	background-image:url(../imagenes/bg1.png);
        }



